<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComidaRapidaPAPUCHO"
        tools:targetApi="31">
        <activity
            android:name=".VentasActivity"
            android:exported="false" />
        <activity
            android:name=".VentaDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".Activityvaso"
            android:exported="false" />
        <activity
            android:name=".Activitypaleta"
            android:exported="false" />
        <activity
            android:name=".Activitycono"
            android:exported="false" />
        <activity
            android:name=".Activitylitro"
            android:exported="false" />
        <activity
            android:name=".ActivityUsuarios"
            android:exported="false" />
        <activity
            android:name=".menufinalizar"
            android:exported="false" />
        <activity
            android:name=".menupizza"
            android:exported="false" />
        <activity
            android:name=".menuhamburguesa"
            android:exported="false" />
        <activity
            android:name=".menubebidas"
            android:exported="false" />
        <activity
            android:name=".menucomida"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>